.card {
	position: relative;
	margin: $element-top-margin 0 $element-bottom-margin 0;
	background-color: $card-bg-color;
    transition: box-shadow 0.25s;
	min-height: 509.328px;
	border-radius: 2px;
	@extend .z-depth-1;
	&:hover {
		.card-title {
			text-shadow: 1px 1px 1px #000;
			@extend .z-depth-1;
		}
	}
	.card-title {
		font-size: 24px;
		font-weight: 300;
		&.activator {
			cursor: pointer;
		}
		.username-line {
			background-color: rgba(0, 0, 0, 0.3);
			padding: 5px 0 10px 5px;
		}
	}
	.card-image {
		position: relative;
		min-height: 321.328px;
        img {
			display: block;
			border-radius: 2px 2px 0 0;
			position: relative;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
		}
		.card-title {
			color: $card-bg-color;
			position: relative;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
	.card-content {
		padding: 10px;
		border-radius: 0 0 2px 2px;
		min-height: 138px;
		p {
			margin: 0;
        }
		.card-title {
			display: block;
			line-height: 32px;
			margin-bottom: 8px;
			i {
				line-height: 32px;
			}
		}
		.card-item {
			&.name {
				font-size: 1.5rem;
			}
			&.email {
				color: color('grey', 'lighten-1');
			}
			&.phone {
				color: color('grey', 'lighten-1');
			}
			&.website {
				color: color('grey', 'lighten-1');
			}
			&.address {
				color: color('grey', 'lighten-1');
			}
		}
	}
}
