input[type='text'] {
	width: 18.7rem;
	padding: 10px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid transparent;
	font-weight: normal !important;
}
input[type='text']:focus {
	border: 1px solid #fff;
	@extend .z-depth-3;
}
